.navbar-collapse {
  flex-grow: 0;
}
.custom-navbar{
  background-color: white !important;
}
.custom-navbar button {
  border: none;
  background-color: transparent;
  color: #3e3e3e;
  font-weight: 600;
  font-family: "noto sans", sans-serif;
  font-size: 18px;
  outline: none;
}
.navbar-brand {
  font-family: Noto Sans;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0%;
  color: #3e3e3e;
}

a.nav-link.active {
  background: none;
      width: fit-content;
      margin: auto;
  border-bottom: 2px solid #3E3E3E;
}
